@font-face {
  font-family: "StarWars";
  src: url('/font/star-wars.ttf') format('truetype');
}

body {
  background-color: black;
  color: white;
  text-align: center;
}

.linkDisabled {
  color: gray;
  cursor: none;
  margin: 10px;
  text-decoration: none;
}

.linkEnabled {
  color: white !important;
  cursor: pointer;
  margin: 10px;
  text-decoration: none;
}

.linkEnabled:hover {
  text-decoration: underline;
}

.linkEnabled:active {
  color: purple !important;
  text-decoration: underline;
}